.mainDiv {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}

.conteinerCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@font-face {
  font-family: "Exo2.0";
  font-weight: 400;
  src: url("../font/Exo2.0-Thin.otf");
}

.heading {
  width: 100%;
  font-family: "Exo2.0";
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
}
